@import '../../scss/libs/vars.scss';

.wrapper {
	// display: flex;
	// justify-content: space-between;
	// gap: 20px;
	margin-bottom: 50px;
	animation: content 0.3s none;

	.cardsBlock {
		width: 100%;
		margin-bottom: 50px;

		.topWrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			margin-bottom: 40px;

			.title {
				color: $orangeAccent;
				font-size: 36px;
			}
		}

		.cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		width: 100%;
		gap: 5px;

		.pageLink {
			@extend %button;
			background-color: $greenBG;
			//to adaptive
			// font-size: 14px;
			// padding: 5px;
		}
		.active {
			@extend %button;
			background-color: $greenHover;
		}
	}
}

@media (max-width: 500px) {
	.wrapper {
		.cardsBlock {
			.topWrapper {
				flex-direction: column;
				.title {
					font-size: 32px;
				}
			}
		}
	}
}
