@import '../../scss/libs/vars.scss';

.registerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	background-color: $greenBG;
	width: 400px;
	margin: 0 auto;
	border-radius: 20px;
	animation: content 0.3s none;
	align-self: center;
	margin-bottom: 40px;

	.title {
		color: $greenAccent;
		margin-bottom: 50px;
	}

	.form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.inputWrapper {
			label {
				display: block;
				margin-bottom: 10px;
				color: $orangeAccent;
				text-align: center;
			}
			.input {
				@extend %input;
			}

			.error {
				color: $redAccent;
				font-size: 14px;
				margin-top: 3px;
			}
		}

		.uploadAvatar {
			display: flex;
			gap: 20px;

			.uploadButton {
				@extend %button;
				font-size: 16px;
				letter-spacing: 2px;
				height: 100%;
			}

			.uploadInput {
				display: none;
			}

			.avatarWrapper {
				width: 100px;
				height: 100px;
				position: relative;
				&:hover {
					.removeButton {
						opacity: 1;
					}
				}

				.removeButton {
					position: absolute;
					top: 5px;
					right: 5px;
					width: 20px;
					cursor: pointer;
					opacity: 0;
					transition: opacity 0.3s;
					color: #c90707;
				}
				.image {
					width: 100%;
					height: 100%;
					border-radius: 10px;
					object-fit: cover;
				}
			}
		}
	}

	.submitButton {
		@extend %button;
		background-color: $orangeAccent;
		margin-top: 20px;
		margin-bottom: 20px;
		letter-spacing: 2px;
	}
}

@media (max-width: 500px) {
	.registerContainer {
		width: 100%;
		padding: 20px;
		.title {
			font-size: 38px;
			margin-bottom: 30px;
		}
		.form {
			.uploadAvatar {
				.avatarWrapper {
					.removeButton {
						opacity: 1;
					}
				}
			}
		}
	}
}
