.card {
	position: relative;
	text-align: center;

	cursor: pointer;
	width: 300px;
	height: 400px;
	transition: transform 0.3s;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0));

	&:hover {
		.buttons {
			visibility: visible;
		}
	}

	.buttons {
		position: absolute;
		right: 15px;
		top: 15px;
		display: flex;
		gap: 10px;
		z-index: 1;
		visibility: hidden;

		.deleteButton,
		.editButton {
			width: 25px;
			height: 25px;
			animation: opac 0.3s none;
			transition: opacity 0.3s;
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}
		}
	}
}

@keyframes opac {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}

	100% {
		opacity: 0.3;
	}
}

@-moz-document url-prefix() {
	.card {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
}

.card.flip {
	--rotate-y: 180deg;
}

.back,
.front {
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #012712;
	border-radius: 20px;
	height: 100%;
	width: 300px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.back {
	transform: rotateY(180deg);
}
.front {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.imgWrapper {
		width: 100%;
		animation: content 0.3s none;
		height: 150px;

		img {
			height: 100%;
			object-fit: contain;
			border-radius: 10px;
		}
	}
}
.word,
.translation {
	animation: content 0.3s none;
	font-size: 24px;
	font-weight: 500;
}

@keyframes content {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 800px) {
	.card {
		.buttons {
			visibility: visible;
		}
	}
}
