.card,
.flip {
	position: relative;
	width: 300px;
	text-align: center;
	cursor: pointer;
	width: 300px;
	height: 400px;
	transition: transform 0.3s;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.flip {
	--rotate-y: 180deg;
}

.back,
.front {
	position: absolute;
	backface-visibility: hidden;
	background-color: #012712;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
}

.back {
	transform: rotateY(180deg);
}
.front {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.imgWrapper {
		width: 100%;
		height: 150px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.word,
.translation {
	font-size: 24px;
	font-weight: 500;
}
