@import '../../scss/libs/vars.scss';

.userData {
	display: flex;
	align-items: center;
	gap: 20px;

	input[type='file'] {
		display: none;
	}

	.imageWrapper {
		width: 60px;
		height: 60px;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	.userName {
		color: $orangeAccent;
	}
}
