@import '../../scss/libs/vars.scss';

.userData {
	display: flex;
	align-items: center;
	gap: 20px;

	.imageWrapper {
		width: 60px;
		height: 60px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	.userName {
		color: $orangeAccent;
	}
}
