@import '../../scss/libs/vars.scss';

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	padding: 15px 0;
	margin-bottom: 50px;

	.logo {
		display: flex;
		align-items: center;
		gap: 5px;

		.title {
			font-size: 32px;
			color: $greenAccent;
		}
	}

	.authButtons,
	.navButtons {
		display: flex;
		align-items: center;
		gap: 10px;

		.login,
		.register,
		.createCard,
		.logout {
			@extend %button;
		}

		.logout {
			background-color: $redAccent;
		}

		.register {
			background-color: $orangeAccent;
		}
	}
}

@media (max-width: 800px) {
	.header {
		margin-bottom: 30px;
		.navButtons {
			flex-basis: 100%;
			justify-content: space-between;
		}
	}
}
@media (max-width: 500px) {
	.header {
		.authButtons {
			flex-basis: 100%;
			justify-content: space-between;
		}
	}
}
