@import '../../scss/libs/vars.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	margin-bottom: 50px;

	.logo {
		display: flex;
		align-items: center;
		gap: 5px;

		.title {
			font-size: 32px;
			color: $greenAccent;
		}
	}

	.authButtons {
		display: flex;
		align-items: center;
		gap: 10px;

		.login,
		.register,
		.createCard,
		.logout {
			@extend %button;
		}

		.logout {
			background-color: $redAccent;
		}

		.register {
			background-color: $orangeAccent;
		}
	}
}
