@import '../../scss/libs/vars.scss';

.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	background-color: $greenBG;
	width: 400px;
	margin: 0 auto;
	border-radius: 20px;
	align-self: center;

	.title {
		color: $greenAccent;
		margin-bottom: 50px;
	}

	.form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.inputWrapper {
			label {
				display: block;
				margin-bottom: 10px;
				color: $orangeAccent;
				text-align: center;
			}

			.input {
				@extend %input;
			}

			.error {
				color: $redAccent;
				font-size: 14px;
				margin-top: 3px;
			}
		}
	}

	.submitButton {
		@extend %button;
		background-color: $orangeAccent;
		margin-top: 20px;
		margin-bottom: 20px;
		letter-spacing: 2px;
	}
}
