@import '../../scss/libs/vars.scss';

.homepage {
	animation: content 0.3s none;

	.title {
		font-size: 50px;
		margin-bottom: 20px;
		color: $orangeAccent;
	}
	.testData {
		display: inline-block;
		padding: 20px;
		border-radius: 10px;
		background-color: $greenBG;
		margin-bottom: 50px;
		color: $greenAccent;
		font-size: 24px;
		.credentials {
			span {
				color: $orangeAccent;
			}
			color: #fff;
			font-size: 20px;
		}
	}

	.text {
		font-size: 26px;
		line-height: 40px;
		span {
			color: $greenAccent;
			font-weight: bold;
		}
		margin-bottom: 50px;
	}

	.example {
		display: flex;
		gap: 80px;
		height: 100%;
		margin-bottom: 30px;

		.wrapper {
			display: flex;
			gap: 20px;
			align-items: start;
			height: 100%;

			.clickTitle {
				color: $greenAccent;
				font-size: 28px;
			}

			.arrowImage {
				transform: scale(1, -1);
			}
			.arrowImageAdaptive {
				height: 70px;
				display: none;
			}
		}
	}

	.getStartButton {
		@extend %button;
		display: block;
		width: 170px;
		text-align: center;
		margin-bottom: 20px;
	}
}

@media (max-width: 800px) {
	.homepage {
		.title {
			text-align: center;
		}
		.example {
			flex-direction: column;
			align-items: center;
			gap: 20px;
			.wrapper {
				gap: 0;
				.arrowImage {
					display: none;
				}
				.arrowImageAdaptive {
					display: block;
					margin-top: 10px;
				}
			}
		}
	}
}
@media (max-width: 500px) {
	.homepage {
		.title {
			text-align: center;
		}
		.example {
			flex-direction: column;
			align-items: center;
			gap: 20px;
			.wrapper {
				gap: 0;
				.arrowImage {
					display: none;
				}
				.arrowImageAdaptive {
					display: block;
					margin-top: 10px;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.homepage {
		.title {
			font-size: 38px;
		}
		.text {
			font-size: 20px;
		}
		.example {
			.wrapper {
				.clickTitle {
					font-size: 24px;
				}
				.arrowImageAdaptive {
					height: 50px;
				}
			}
		}
	}
}
